html {
    scroll-behavior: smooth;
}

.form-container {
    position: absolute;
    background-color: whitesmoke;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    margin-top: 60px;
}

button {
    position: absolute;
}